
.header {
  background-color: #5BC5A7;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  border-bottom: 1px solid #48be9d;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  color: #fff;
}

.btn-signup {
  background: #ff652f;

}

.btn-signin {
  background: #5BC5A7;
  text-shadow: 0 -1px 0 #318970;
  margin-left: 5px;
}

.btn-signin:focus {
  outline: 5px auto -webkit-focus-ring-color;
}
