.main-content {
  width: 950px;
  margin: 0 auto;
}

.home-logo {
  height: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.home-menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 15px;
}

.waldo {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}

.usermenu {
  background: transparent;
  border: none;
  padding: 0;
}

.home-menu:hover {
  background-color: #48be9d;
}

.arrow-down {
  width: 0;
  margin-top: 14px;
  vertical-align: top;
  padding-top: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #8CD6C1;
}

.lsidebar {
  float: left;
  width: 20%;
  margin-top: 30px;
}

.main-section {
  float: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 60%;
  height: 800px;;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.rsidebar {
  float: left;
  width: 18%;
}

.logout-dropdown {
  position: relative;
  display: inline-block;;
}

.dropdown-content-home {
  display: none;
  position: absolute;
  background-color: #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  z-index: 1;
  top: 32px;
  height: 38px;
  margin: 0 auto;
  width: 95px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.dropdown-content-home a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-home a:hover {
  background-color: #5bc5a7;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.show {display:block;}

.user-menu {
  display: flex;
}

.user-menu:hover {
  cursor: pointer;
}

.username-menu {
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(30%);
  font-size: 15px;
  margin-left: 3px;
  margin-right: 3px;
}

.log-out-menu {
  cursor: pointer;
  color: #fff;
}
