.home-nav {
  background-color: #5BC5A7;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin: 0 auto;
  width: 950px;

}

.logo {
  padding-left: 45px;
  padding-top: 5px;
  width: 200px;
  height: 48px;
}

.btn-guestlogin:hover {
  background-color: #C9C9C9;
}

.btn-signin:hover {
  background-color: #48be9d;
}

.btn-signup:hover {
  background-color: #ff5216;
}
