html {

}

body {
	margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

button {
  border-radius: 4px;
  font-size: 14px;
  color: white;
  display: inline-block;
  padding: 4px 10px 4px;
  line-height: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	font-family: 'Lato', sans-serif;
}

button:hover {

}

ul {
  list-style: none;
}

.main {
  display: flex;
  align-items: center;
	justify-content: center;
	flex-flow: column;
}

h1 {
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.splash-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.slogan {
	font-size: 21px;
}

.wallet-logo {
	width: 75px;
	height: 75px;
}

.landing-img-1 {
	width: 300px;
	transition: width 1s, opacity 1s;
	float: left;
	position: absolute;
	left: 0;
	z-index: 1;
	opacity: 1;

}

.landing-img-1:hover {
	width: 400px;
	z-index: 2;
	opacity: 1;


}

.landing-img-2 {
	width: 300px;
	transition: width 1s, opacity 1s;
	float: right;
	position: absolute;
	right: 0;
	z-index: 1;
}

.landing-img-2:hover {
	width: 400px;
	z-index: 2;
	opacity: 1;

}

.wallet-img123 {
	width: 100%;
}

.landing-images {
	width: 100%;
	max-width: 610px;
	margin: 0 auto;
	position: relative;
	padding: 30px;
}

.landing-img-1, .landing-img-2 {
	width: 40%;
}
