html {

}

body {
	margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

button {
  border-radius: 4px;
  font-size: 14px;
  color: white;
  display: inline-block;
  padding: 4px 10px 4px;
  line-height: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

.main {
  display: flex;
  align-items: center;
	justify-content: center;
	flex-flow: column;
}

h1 {
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.logo {
	display: flex;
}

.slogan {
	font-size: 21px;
}
