.your-balance {
  padding-left: 25px;
  padding-top: 50px;
}

.balance-title {
  display: inline;
  font-size: 18px;
  color: #999999;
}

.positive-cf {
  color: #5BC5A7;
  font-size: 25px;
}

.negative-cf {
  color: #ff652f;
  font-size: 25px;
}


.positive-cff {
  color: #5BC5A7;
  font-size: 17px;
}

.negative-cff {
  color: #ff652f;
  font-size: 17px;
}

.zero-balance {
  font-size: 18px;
}
