.signup-page {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-60%, -150%);
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

h2 {
  font-size: 16px;
  color: #999;
  font-weight: bold;
  line-height: 20px;

}

.lbl-name {
  font-size: 24px;
  line-height: 140%;
  margin: 16px 0 5px;
}

.inpt-name {
  font-size: 32px;
  height: 42px;
  border-radius: 3px;
}

input:focus {
  outline-offset: -2px;
}

input {
  border: 1px solid #ccc;
}
